<launch>
  <!--
    Standalone D435i stereo plus in-window leg odometry relative factors.
    Requires /leg_odom2 to be published by the robot motion bridge.
  -->
  <arg name="config_file" default="$(find dog_vins_bringup)/config/dog_d435i_stereo_leg_odom_config.yaml"/>
  <arg name="namespace" default="dog_vins"/>
  <arg name="serial_no" default=""/>
  <arg name="infra_width" default="640"/>
  <arg name="infra_height" default="480"/>
  <arg name="infra_fps" default="30"/>
  <arg name="initial_reset" default="false"/>
  <arg name="start_rviz" default="false"/>
  <arg name="rviz_config" default="$(find dog_vins_bringup)/config/dog_vins_localization.rviz"/>
  <arg name="output" default="screen"/>
  <arg name="publish_camera_base_tf" default="true"/>
  <arg name="publish_world_odom_tf" default="true"/>

  <include file="$(find dog_vins_bringup)/launch/dog_realsense_d435i_stereo.launch">
    <arg name="serial_no" value="$(arg serial_no)"/>
    <arg name="infra_width" value="$(arg infra_width)"/>
    <arg name="infra_height" value="$(arg infra_height)"/>
    <arg name="infra_fps" value="$(arg infra_fps)"/>
    <arg name="initial_reset" value="$(arg initial_reset)"/>
  </include>

  <group ns="$(arg namespace)">
    <node pkg="vins"
          type="vins_node"
          name="vins_estimator"
          output="$(arg output)"
          launch-prefix="bash -lc 'mkdir -p /tmp/dog_vins_output/pose_graph; exec &quot;$@&quot;' bash"
          args="$(arg config_file)"/>
  </group>

  <node if="$(arg publish_camera_base_tf)"
        pkg="tf"
        type="static_transform_publisher"
        name="base_link_to_camera_link_tf"
        args="0.2 0.0 0.0 -0.1635689211 0.0 0.0 0.9865319093 base_link camera_link 100"/>

  <node if="$(arg publish_world_odom_tf)"
        pkg="tf"
        type="static_transform_publisher"
        name="world_to_odom_tf"
        args="0 0 0 0 0 0 world odom 100"/>

  <node if="$(arg start_rviz)"
        pkg="rviz"
        type="rviz"
        name="dog_vins_rviz"
        args="-d $(arg rviz_config)"/>
</launch>
