<launch>
  <!--
    Convenience wrapper for real-robot tests.
    Starts the read-only localization bridge in this repository.
  -->
  <arg name="namespace" default="dog_vins"/>
  <arg name="serial_no" default=""/>
  <arg name="infra_width" default="640"/>
  <arg name="infra_height" default="480"/>
  <arg name="infra_fps" default="30"/>
  <arg name="initial_reset" default="false"/>
  <arg name="start_rviz" default="false"/>
  <arg name="output" default="screen"/>
  <arg name="publish_camera_base_tf" default="true"/>
  <arg name="bridge_server_port" default="43897"/>
  <arg name="bridge_publish_imu" default="true"/>
  <arg name="bridge_publish_joint_states" default="false"/>
  <arg name="bridge_publish_aux_states" default="true"/>

  <include file="$(find dog_robot_bridge)/launch/dog_robot_state_bridge.launch">
    <arg name="server_port" value="$(arg bridge_server_port)"/>
    <arg name="publish_imu" value="$(arg bridge_publish_imu)"/>
    <arg name="publish_joint_states" value="$(arg bridge_publish_joint_states)"/>
    <arg name="publish_aux_states" value="$(arg bridge_publish_aux_states)"/>
    <arg name="output" value="$(arg output)"/>
  </include>

  <include file="$(find dog_vins_bringup)/launch/dog_standalone_d435i_stereo_leg_odom.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="serial_no" value="$(arg serial_no)"/>
    <arg name="infra_width" value="$(arg infra_width)"/>
    <arg name="infra_height" value="$(arg infra_height)"/>
    <arg name="infra_fps" value="$(arg infra_fps)"/>
    <arg name="initial_reset" value="$(arg initial_reset)"/>
    <arg name="start_rviz" value="$(arg start_rviz)"/>
    <arg name="output" value="$(arg output)"/>
    <arg name="publish_camera_base_tf" value="$(arg publish_camera_base_tf)"/>
  </include>
</launch>
